
@{
    ViewBag.Title = "All Users";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using System.Web.Security
@model MembershipUserCollection

<section class="panel">
    <header class="panel-heading">
        Users
    </header>
    <div class="panel-body">
        <div class="adv-table editable-table ">
            <br />
            <div class="clearfix">
                <div class="btn-group">
                    <a href="/Admin/AddUser" class="btn btn-success">
                        Add User<i class="icon-plus"></i>
                    </a>
                    
                </div>
            </div>
            <br />
            <div class="space15"></div>
            <table class="table table-striped table-hover table-bordered" id="editable-sample">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Registration Date</th>
                        <th>Last Login Date</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (MembershipUser user in Model)
                    {
                        <tr class="">
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>@user.CreationDate</td>
                            <td>@user.LastLoginDate</td>

                            <td>
                                <a href="#" class="btn btn-danger deleteUser" data-username="@user.UserName">Delete</a>
                                
                            </td>


                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</section>

